@tailwind base;
@tailwind components;
@tailwind utilities;

.column {
    max-height: 500px; 
    overflow-y: auto;  
    border-radius: 8px; 
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1); 
  }